<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación</title>
</head>
<body>
    <h2>inicio</h2>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{% url 'actividades' %}">Actividades</a></li>

        {% if request.user.is_authenticated %}
            <li><a href="{% url 'exit' %}">Cerrar sesión</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        {% endif %}
        
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>